header {
    display: inline;
    width: 100%;
    border-bottom: solid;
    border-bottom-style: outset;
    float: right;
    margin-bottom: 2em;
    margin-top: -5em;
    text-align: center;
}

#header-text {
    margin-left: 3%;
    float: left;
}

#header-links {
    display: inline-flex;
    margin-top: 2em;
    margin-left: 45em;
    justify-content: space-evenly;
    float: right;
}

.hyperlinks {
    text-decoration: none;
    color:black;
    text-align: center;
    margin-right: 5em;
    font-weight: bold;
}

#current-page {
    background-color: MintCream;
    padding: 0.75em;
    border-radius: 2em;
}