html {
    font-family: 'Lucida Sans', sans-serif
}

ul {
    list-style: none;
}

body {
    background-color: antiquewhite;
}

header {
    display: flex;
    width: 100%;
    border-bottom: solid;
    border-bottom-style: outset;
}

#header-text {
    margin-left: 3%;
}

#header-links {
    display: inline-flex;
    margin-top: 2em;
    margin-left: 45em;
    justify-content: space-evenly;
}

.hyperlinks {
    text-decoration: none;
    color:black;
    text-align: center;
    margin-right: 5em;
    font-weight: bold;
}

#current-page {
    background-color: MintCream;
    padding: 0.75em;
    border-radius: 2em;
}

#main-content {
    text-align: center;
    width: 70%;
    margin-top: 5em;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

#pic {
    width: 30%;
}

#contact-list {
    margin-top: 2em;
}

.contact-item {
    margin-top: 2em;
}